/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
  box-sizing: border-box;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  background-color: #00695c;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  margin-left: 20px;
}

.nav-container {
  display: flex;
  flex: 1;
  justify-content: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

/* Hero Section */
.hero-section {
  background-image: url('https://media.istockphoto.com/id/1437028347/photo/headstone-cleaning.jpg?s=612x612&w=0&k=20&c=LmJsd4fgDckslg8OpthcvX-XextLMxOkDuj1Y84Nvbc=');
  background-size: cover;
  background-position: center;
  height: 70vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 70px;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin: 0;
}

.hero-content p {
  margin: 15px 0;
}

.hero-content button {
  padding: 10px 20px;
  background-color: #00796b;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

/* Services Section */
.services-section {
  padding: 50px 20px;
  background-color: #e0f2f1;
  text-align: center;
}

.services-section h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.services-section h3 {
  font-size: 1.5rem;
  color: #00695c;
  margin-top: 10px;
}

.services-section p {
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.5;
  font-size: 1rem;
  margin-top: 15px;
}

/* Service Image */
.service-image {
  margin-top: 20px;
}

.service-image img {
  width: 100%; /* Make the image responsive */
  max-width: 800px; /* Limit the maximum width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px; /* Add some rounding to the edges */
  display: block;
  margin: 0 auto; /* Center the image */
}

/* Contact Section */
.contact-section {
  padding: 50px 20px;
  background-color: #f0f0f0;
  text-align: center;
}

.contact-section h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.contact-section p {
  font-size: 1.2rem;
  margin-bottom: 25px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.contact-form label {
  font-size: 1rem;
  font-weight: bold;
}

.contact-form input, .contact-form textarea {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  padding: 12px 20px;
  background-color: #00796b;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
}

/* Responsive Design */
@media (min-width: 768px) {
  .services-section p {
    font-size: 1.2rem;
  }
}
